.ammo-text-container {
    display: flex;
    justify-content: center;
}
.ammo-text-container h2 {
    font-size: 20px;
    margin: 10px 0px;
}

.ammo-container {
    margin-top: 25px;
    flex-direction: column;
}
th {
    color: #f1efef;
    background-color: black;
    padding: 10px 0px;
}
.ammo-tbody-tr :nth-child(n + 2) {
    background-color: #f1efef;
    opacity: 0.8;
}
.ammo-tbody-tr td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}
