.headwear-text-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.headwear-text-container h2 {
  font-size: 20px;
  padding: 10px 20px;
}
.headwear-text-container h2 {
  background-color: black;
  color: #f1efef;
}

.headwear-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
th {
  color: #f1efef;
  background-color: black;
  padding: 10px 0px;
}
.headwear-tbody-tr :nth-child(n + 2) {
  background-color: #f1efef;
  padding: 0px 10px;
}
.headwear-tbody-tr td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}

.headwear-thead-tr th:nth-child(n + 3) {
  padding: 0px 8px;
}
.headwear-img {
  width: 90px;
}
