.license-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f1efef;
    opacity: 0.8;
    padding: 15px 0px;
    width: 60%;
    border-radius: 10px;
}
.license-container p {
    font-weight: 600;
    margin-bottom: 10px;
}
.license-box {
    margin-bottom: 10px;
}
.license-container a {
    text-decoration: none;
    color: blue;
}
.license-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
