.ammo-table {
    margin-top: 50px;
    width: 70%;
    opacity: 0.8;
}
.ammo-tr td,
.ammo-tr th {
    text-align: center;
    font-size: 40px;
    margin-left: 50px;
}
.ammo-tr {
    background-color: #f1efef;
}
.ammo-tr td {
    border: 1px solid black;
}
.ammo-tr img {
    width: 45px;
    margin-top: 5px;
}
