.market-search-container {
    display: flex;
    justify-content: center;
    background-color: #f1efef;
    width: 50%;
    border-radius: 10px;
    opacity: 0.8;
    margin: 50px 0px;
}
.center-container {
    display: flex;
    justify-content: center;
}
.market-search-container input {
    border: 0;
    background-color: transparent;
    font-size: 45px;
    padding: 5px 0px;
    width: 100%;
    color: #191717;
    text-align: center;
}
